<header class="navbar navbar-default navbar-static-top">
  <ul class="nav nav-pills pull-right" role="tablist">
    <li role="presentation" class="btn btn-default btn-sm"><%= link_to "Add Student",  new_student_path %> </li>
    <li role="presentation" class="btn btn-default btn-sm"><%= link_to "Student List",students_path %> </li>
    
    <li role="presentation" class="btn btn-default btn-sm"><%= link_to "Mentor List",mentors_path %> </li>

  </ul>
  <h3 class="text-muted"><%= link_to "Plan for SAT", root_path %></h3>
</header>